.firstwidth{
            width: 5%;
}
.secondwidth{
             width: 8%;
}
.thirdwidth,
.fourthwidth,
.fifthwidth,
.sixwidth{
          width: 15%;
}
.sevenwidth{
            width: 19%;
}
.eightwidth{
             width:8%;
}