.firsttablewidth{
                 width: 8%!important;
}
.fourthtablewidth{
                 width: 12%!important;
}
.margindivisiontop{
                 margin-top: 35px!important;
                 margin-bottom: 25px!important;
}
.headingdivisiondesign{
                font-size: 25px;
}